{% extends "core/base_layout.html" %}
{% load static %}
{% block title %}Nosotros{% endblock %}
{% block cascada %}
    <link rel="stylesheet" href="{% static 'core/css/mbr-additional.css' %}" type="text/css">
{% endblock %}
{% block content %}
<section class="step3 cid-rrMwiHcsyW" id="step3-1">
    <div class="container">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style align-center display-2">
            Nuestros Servicios</h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style align-center display-5">
            Comprar es fácil y seguro con FastShopping</h3>
        <div class="media-container-row">
            <div class="media-block" style="width: 49%;">
                <div class="mbr-figure">
                    <img src="{% static 'core/images/mbr-1-848x568.jpg' %}" alt="" title="">
                </div>
            </div>
            <div class="step-container">
                <div class="card separline pb-4">
                    <div class="step-element d-flex">
                        <div class="step-wrapper pr-3">
                            <div class="step d-flex align-items-center justify-content-center">
                                1
                            </div>
                        </div>          
                        <div class="step-text-content">
                            <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">Elige un producto</h4>
                            <p class="mbr-step-text mbr-fonts-style display-7">
                                Elige uno de nuestros productos en nuestra sección artículos y añadela a tu carrito de compras o ve directamente a obtenerla.</p>
                        </div>
                    </div>
                </div>

                <div class="card separline pb-4">
                    <div class="step-element d-flex">
                        <div class="step-wrapper pr-3">
                            <div class="step d-flex align-items-center justify-content-center">
                                2
                            </div>
                        </div>          
                        <div class="step-text-content">
                            <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">Compra</h4>
                            <p class="mbr-step-text mbr-fonts-style display-7">
                                Podrás ver todos tus artículos en tu carrito de compras y elegir una de las formas de pago como por ejemplo paypal o con alguna tarjeta de crédito o débito.</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="step-element d-flex">
                        <div class="step-wrapper pr-3">
                            <div class="step d-flex align-items-center justify-content-center">
                                3
                            </div>
                        </div>          
                        <div class="step-text-content">
                            <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">Entrega</h4>
                            <p class="mbr-step-text mbr-fonts-style display-7">
                                Si tu compra fue por delivery, tu pedido se estará entregando en un plazo máximo de 24 horas. Por el contrario te esperamos en nuestra tienda. Alguna duda Contáctanos,</p>
                        </div>
                    </div>
                </div>
         
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content10 cid-rrMEQcYDCJ" id="content10-3">
    
     

    <div class="container">
        <div class="inner-container" style="width: 69%;">
            <hr class="line" style="width: 45%;">
            <div class="section-text align-center mbr-white mbr-fonts-style display-5">
                    Somos una pequeña empresa que intenta facilitarte las cosas al momento de comprar ropa por internet. Te brindamos seguridad al momento de realizar tus compras y si no estás satisfecho puedes solicitar un reembolso comunicándote con la empresa.</div>
            <hr class="line" style="width: 45%;">
        </div>
    </div>
</section>

<section class="testimonials1 cid-rrMCqda0GZ" id="testimonials1-2">

    

    
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 align-center">
                <h2 class="pb-3 mbr-fonts-style display-2">Equipo de Trabajo</h2>
                
            </div>
        </div>
    </div>

    <div class="container pt-3 mt-2">
        <div class="media-container-row">
            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="{% static 'core/images/face1.jpg' %}" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">
                           Dueño y fundador de esta pequeña empresa dedicada al retail.</p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             Raúl Velasquez</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                               Propietario</small>
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="{% static 'core/images/face2.jpg' %}" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">
                           Co-fundadora y encargada de la publicidad y marketing de la empresa</p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             Lisseth Isidro</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                               Jefa de Marketing</small>
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="{% static 'core/images/face3.jpg' %}" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">
                           Creador de este aplicativo web que facilita las ventas por internet.</p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             Johan Jara</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                               Developer
                        </small>
                    </div>
                </div>
            </div>

            

            

            
        </div>
    </div>   
</section>
{% endblock %}